.form-control,
.btn {
	margin-left: 0.5em;
}

.collapse {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.dropdown-toggle {
	cursor: pointer;
}

#basic-link {
	color: white;
	opacity: 0.6;
	margin-left: 0.5em;
}
