<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a href="#" class="navbar-brand">Dating App</a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto" *ngIf="currentUser$ | async">
				<li class="nav-item active">
					<a href="#" class="nav-link">Matches</a>
				</li>
				<li class="nav-item"><a href="#" class="nav-link">List</a></li>
				<li class="nav-item">
					<a href="#" class="nav-link">Messages</a>
				</li>

				<!-- Dropdown menu -->
				<li class="nav-item" dropdown>
					<a
						href
						class="nav-link"
						id="basic-link"
						dropdownToggle
						(click)="(false)"
						aria-controls="basic-link-dropdown"
						>welcome user</a
					>
					<ul
						id="basic-link-dropdown"
						*dropdownMenu
						class="dropdown-menu dropdown-menu-right"
						role="menu"
						aria-labelledby="basic-link"
					>
						<li class="dropdown-item">Edit Profile</li>
						<li class="divider dropdown-divider"></li>
						<li class="dropdown-item" (click)="Logout()">logout</li>
					</ul>
				</li>
				<!-- dropdown end -->
			</ul>
			<form
				*ngIf="(currentUser$ | async) === null"
				class="form-inline"
				#loginForm="ngForm"
				(ngSubmit)="Login()"
				autocomplete="off"
			>
				<input
					name="username"
					[(ngModel)]="loginModel.username"
					class="form-control"
					type="text"
					placeholder="username"
				/>
				<input
					name="password"
					[(ngModel)]="loginModel.password"
					type="password"
					class="form-control"
					placeholder="password"
				/>
				<button class="btn btn-success" type="submit">Login</button>
			</form>
		</div>
	</div>
</nav>
